<!DOCTYPE html>
<html lang="es">
  <style>

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


body{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background: white;
    text-align: justify;
    background-image: url("https://s1.1zoom.me/b4445/4/Planets_Nebulae_in_space_518424_1080x1920.jpg");
    background-repeat: repeat-y;
    background-size: 90rem;
    color: black;
}



  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width , initial-scale=1" />
    <meta name="author" content="Jesús Fuentes">
    <meta name="keywords" content="aprendiz,programación">
    <!-- <meta name="robots" content="index">--->
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Parcial_2</title>
   
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
      rel="stylesheet" />
  </head>
</html>